body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

section{
    width: 80%;
    margin: 60px auto 0 auto;
    display: flex;
    
}

.top-left{
    width: 50%;
}

.top-right{
    width: 50%;
}

.top-right img{
    width: 70%;
    float: right;
    
}

.heading{
    display: flex;
}

.heading-title{
    padding-left: 10px;

}

h1{
    color: #EFB715;
    font-size: 45px;
    font-weight: bold;
    margin: 0;
}
h1 span{
    color: #1EBBEE;
    

}

.heading-left-border{
    height: 98px;
    width: 4px;
    background-color: #FB6080;
    margin-top: 15px;
    border-radius: 15px;
}

.top-left p{
    color: #333;
    font-size: 15px;
    font-weight: 500;
}

button{
    padding: 15px 30px;
    background-color: #FB6080;
    border: 1px solid #FB6080;
    border-radius: 5px;
}

button a{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
}

.mission-title{
    margin: 40px auto 20px auto;
    text-align: center;
}

.mission-left{
    width: 33%;
    height: 270px;;
    background-color: #EBE8E2;
    padding: 20px 20px;
    border-radius: 10px;

}

.mission-section{
    margin-bottom: 50px;
}

.mission-section img{
    width: 20%;

}

.mission-section h5{
    color: #333;
    font-size: 20px;
    font-weight: 900;
    margin: 25px 0;
}

.mission-section p{
    color: #333;
    font-size: 15px;
    font-weight: 500;
}

.mission-middle{
    width: 34%;
    height: 270px;;
    background-color: #F1E4D8;
    padding: 20px 20px;
    border-radius: 10px;
    margin: 0 30px;
}

.mission-right{
    width: 33%;
    width: 34%;
    height: 270px;;
    background-color: #F1D1CF;
    padding: 20px 20px;
    border-radius: 10px;
    
}

.develop-left{
    width: 40%;
}

.development-community img{
    width: 90%;
}

.develop-right{
    width: 60%;
    padding-top: 50px;
}

.development-community h2{
    font-size: 30px;
    font-weight: 900;
    line-height: 1rem;
}

.development-community p{
    color: #333;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}

.community-left{
    width: 60%;
    padding-top: 50px;
    padding-right: 40px;
}

.community-right{
    width: 40%;
}



